.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#game-area {
  --game-width: 400;
  --game-height: 300;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  width: var(--game-width);
  height: var(--game-height);
  opacity: 0;
  transition: all 1s ease;
}

.block {
  border-radius: 50%;
}